epochs: 10

val_interval: 100
num_val_batches: 32

checkpointing: False

data_loaders:
  train:
    split_key: train_idxs
    batch_size: 32
    num_workers: 8
  validation:
    split_key: val_idxs
    batch_size: 32
    num_workers: 8
    drop_last: true
