seed: null
dump_path: './outputs/'
defaults:
    - data: iwcd_short
    - data/dataset: iwcd_short_pointnet
    - model: pointnet
    - engine: classifier
    - tasks/train: train_pointnet
    - optimizers@tasks.train.optimizers: adam
    - sampler@tasks.train.data_loaders.train.sampler: subset_random
    - sampler@tasks.train.data_loaders.validation.sampler: subset_random
    - tasks/restore_best_state: restore_best_state
    - tasks/evaluate: test
    - sampler@tasks.evaluate.data_loaders.test.sampler: subset_sequential
    - _self_
