gpu_list:
  - 5
seed: null
dump_path: './outputs/'
model:
  num_output_channels: 3
defaults:
  - data: iwcd_electron
  - model: resnet18
  - engine: regression
  - tasks/restore_state: restore_state
  - tasks/evaluate: test
  - _self_
